.hero{
 background-color: black;
 &__bg{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    img{
        width: 700px;
    }
 }
}
.hero__content{
   width: 80%;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
    align-items: flex-end; 
}
.hero__content-left{
    position: relative;
    h1{
    font-weight: 400;
    width: 38vw;
    top: -20vh;
    font-size: 12vw;
    color: #bababa;
    font-family: "Michroma", sans-serif;
    }
}
.hero__content-right{
    display: flex;
    margin-bottom: 30px;
    p{
    color: #bababa;
    font-size: 20px;
    }   
}
.cl-t{
    color: #bababa;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    pointer-events: all;
    letter-spacing: 1px;
    font-family: "Roboto Mono", monospace;
    font-size: 11px;
    text-transform: uppercase;
    outline: none;
    box-sizing: border-box;
    position: relative;
    top: 5px;
    left: 20px;
    height: 25px;
    width: 25px;
    /* Главное изменение: вращение на 45 градусов */
    transform: rotate(90deg);
    /* Отражаем, если нужно другое направление */
    /* transform: rotate(45deg) scaleY(-1); */
    
    /* Стили для линий SVG */
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
} 
.about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  h2{
    font-size: 3vw;
    letter-spacing: 3px;
  }
  p{
    font-size: 3vw;
    letter-spacing: 3px;
  }

}
.skills{
  max-width: 80%;
  margin: 0 auto;
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  h2{
    font-size: 3vw;
    letter-spacing: 3px;
    margin-bottom: 10vh;
  }
  &-grid{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10vh;
  }
}
.skill{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  img{
    max-width: 72px;
  }
}
.portfolio{
  background-color: black;
  height: 90vh;
  &__content{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end; 
  }
 &-btn{
  display: flex;
  p{
    color: #bababa;
    font-size: 20px;
  }
 }
  &-left{
    display: flex;
    flex-direction: column;
    gap: 10vh;
    h2{
    text-transform: capitalize;
    font-weight: 400;
    width: 38vw;
    top: -20vh;
    font-size: 12vw;
    color: #bababa;
    font-family: "Michroma", sans-serif; 
  }
  }
}
